:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.grid {
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.card {
  width: 275px;
  height: max-content;
  min-width: 200px;
}
.text {
  min-width: min-content;
  height: max-content;
}
.image {
  min-width: 0;
  min-height: 0;
  height: 97px;
  width: 116px;
  flex-shrink: 0;
  object-fit: cover;
}
.body-content {
  min-height: 50px;
  min-width: 50px;
}
.actions-content {
  min-height: 40px;
  min-width: 50px;
}
.button {
  height: max-content;
  min-width: min-content;
}
.chip {
  width: max-content;
  height: max-content;
}
.icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
}
